<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-battery-charging"></i>
                </div>
                <span class="b-title"><b>Dashboard</b></span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li data-username="form elements advance componant validation masking wizard picker select"
                class="nav-item {% if 'index' in segment %} active {% endif %}">
                <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                    class="pcoded-mtext">Home</span></a>
              </li>
              <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'video' in segment %} active {% endif %}">
                <a href="/video.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                  <span class="pcoded-mtext">Metaverse</span>
                </a>
              </li>
              <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'recent' in segment %} active {% endif %}">
                <a href="/recent.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-download-cloud"></i></span>
                  <span class="pcoded-mtext">Past Summaries</span>
                </a>
              </li>
              <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'summary' in segment %} active {% endif %}">
                <a href="/summary.html" class="nav-link">
                  <span class="pcoded-micon"><i class="feather icon-target"></i></span>
                  <span class="pcoded-mtext">Summary</span>
                </a>
              </li>
                         
               
                
                <li class="nav-item pcoded-menu-caption">
                    <label>About SummAR</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'app' in segment %} active {% endif %}">
                    <a href="/app.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-video"></i></span><span
                            class="pcoded-mtext">How to use</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'security' in segment %} active {% endif %}">
                    <a href="/security.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-lock"></i></span><span class="pcoded-mtext">Security Policies</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>About Us</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'team' in segment %} active {% endif %}">
                    <a href="/team.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Team</span></a>
                </li>
                <li data-username="Maps Google" 
                    class="nav-item {% if 'support' in segment %} active {% endif %}">
                    <a href="/support.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-phone-call"></i></span><span
                        class="pcoded-mtext">Support</span></a></li>
                        <li class="nav-item pcoded-menu-caption">
                            <label>More Resources</label>
                        </li>  

                
                                  
                        <li data-username="Maps Google" 
                        class="nav-item {% if 'feedback' in segment %} active {% endif %}">
                    <a href="/feedback.html" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-edit"></i>
                        </span>
                        <span class="pcoded-mtext">Feedback</span>
                    </a>
                </li>   
                <li data-username="Maps Google" 
                class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-user"></i>
                        </span>
                        <span class="pcoded-mtext">Profile</span>
                    </a>
                </li>   
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>         
            </ul> 
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
