{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Asthma related Diet and Excersise Plans</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Analysis</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Asthma</a></li>
                                    </ul>
                                    <div class="card"> 
                                        <div class="card-header">
                                            <h5>Exercises</h5>
                                        </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>


                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Diaphragmatic Breathing
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    This exercise focuses on deep breathing, engaging the diaphragm to improve lung capacity and oxygen exchange.

                                                    <br />
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma2.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Pursed Lip Breathing
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Pursed lip breathing helps regulate breathing, reduce shortness of breath, and increase the efficiency of oxygen exchange.
                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma3.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Walking
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Regular walking, especially in fresh air, can help improve cardiovascular health, lung capacity, and overall respiratory function.
                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma4.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Gentle Aerobic Exercises
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Low-impact aerobic exercises like stationary cycling and light swimming can strengthen respiratory muscles and improve lung efficiency.

                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma5.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Yoga
                                                    </h4>
                                                    
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Certain yoga poses and breathing techniques can promote lung expansion, increase oxygen flow, and reduce stress, benefiting respiratory health.
                                                    <br />
                                                </p>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card"> 
                                        <div class="card-header">
                                            <h5>Diet Plan</h5>
                                        </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma6.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Anti-Inflammatory Foods
                                                    </h4>
                                                    
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Include foods rich in antioxidants and anti-inflammatory properties, such as fruits (berries, citrus fruits), vegetables (leafy greens, tomatoes), and nuts.

                                                    <br />
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma7.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Omega-3 Fatty Acids 
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Foods high in omega-3 fatty acids like fatty fish (salmon, tuna) and flaxseeds may help reduce inflammation and support lung health.
                                                    <br />
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma8.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Vitamin C-Rich Foods
                                                    </h4>

                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Citrus fruits, bell peppers, and broccoli are good sources of vitamin C, which can support the immune system and respiratory health.
                                                    
                                                    <br />
                                                </p>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma9.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Fluids 
                                                    </h4>
                                                    
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Staying well-hydrated with water and herbal teas can help keep the respiratory passages moist and aid in thinning mucus.
                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
            

                                </div>
                                </div>
                                </div>
                               
                                
                            </div>
                               
                                
                            </div>
                            
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
{% endblock javascripts %}
