{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Astham related Diet and Excersise Plans</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Analysis</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Asthma</a></li>
                                    </ul>
                                    <div class="card"> 
                                        <div class="card-header">
                                            <h5>Exercises</h5>
                                        </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>


                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                       Brisk Walking
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    A simple and effective exercise, brisk walking can help improve cardiovascular health, lower blood pressure, and reduce the risk of heart disease.

                                                    <br />
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma2.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Cycling
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Cycling is a low-impact aerobic exercise that strengthens the heart and improves circulation, while also being gentle on the joints.
                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma3.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Swimming
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Swimming is a full-body workout that helps increase cardiovascular endurance and strengthens the heart and lungs.
                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma4.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Interval Training
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    High-Intensity Interval Training (HIIT) involves alternating between intense bursts of activity and short periods of rest. It has been shown to improve heart health and increase overall fitness.

                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma5.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Strength Training
                                                    </h4>
                                                    
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Incorporating resistance exercises like weightlifting or bodyweight exercises helps build muscle mass and boost metabolism, leading to improved heart health.
                                                    <br />
                                                </p>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card"> 
                                        <div class="card-header">
                                            <h5>Diet Plan</h5>
                                        </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma6.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Fatty Fish 
                                                    </h4>
                                                    
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Rich in omega-3 fatty acids, fish like salmon, mackerel, and trout can help reduce inflammation, lower triglycerides, and support heart health.

                                                    <br />
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma7.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Whole Grains
                                                    </h4>
                                                   
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Replace refined grains with whole grains like brown rice, quinoa, oats, and whole wheat, as they are high in fiber and can help lower cholesterol levels.
                                                    <br />
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma8.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Leafy Greens
                                                    </h4>

                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Vegetables like spinach, kale, and collard greens are packed with vitamins, minerals, and antioxidants that promote heart health.
                                                    
                                                    <br />
                                                </p>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/asthma9.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        Beriies
                                                    </h4>
                                                    
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p style="font-family: Verdana,sans-serif; font-size:15px ">
                                                    Blueberries, strawberries, and raspberries are excellent sources of antioxidants and fiber, which can reduce the risk of heart disease.
                                                    <br />
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
            

                                </div>
                                </div>
                                </div>
                               
                                
                            </div>
                               
                                
                            </div>
                            
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
{% endblock javascripts %}
