{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}  {% endblock stylesheets %}
{% block content %}
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              
             
                <div class="col-sm-12">
                  <div class="card">
                      <div class="card-header">
                           <h5>Community Guidelines</h5>
                      </div>
                      <div class="card-block">
                          <div class="row"> 
                            <div class="image-container">
                              <img src="\static\assets\images\meta1.jpg" alt="Image 1">
                              <img src="\static\assets\images\meta2.jpg" alt="Image 2">
                              <img src="\static\assets\images\meta3.jpg" alt="Image 3">
                          </div>
                          <br>
                          <br>
                            <br>
                            <style>
                            .image-container {
                              display: flex;
                              justify-content: space-between;
                          }
                  
                          /* CSS to style individual images */
                          .image-container img {
                              width: 300px;
                              height: 300px; /* Adjust the width as per your requirement */
                             
                              margin-left: 50px; /* This ensures the aspect ratio is maintained */
                              margin-right: 10px; /* Add some spacing between the images */
                          }
                        </style>
                        <br>
                            <ol>           
                              <br>                    
                                <li style="font-size: large;">Be Respectful: Treat others with respect and kindness. Do not engage in harassment, hate speech, or discriminatory behavior. </li>
                                <li style="font-size: large;">Keep it Positive: Maintain a positive and constructive attitude in your interactions. Avoid negativity, trolling, or disruptive behavior.                                </li>
                                <li style="font-size: large;">No Spam or Self-Promotion: Do not spam the platform with unrelated or promotional content. Respect the community and focus on relevant discussions.
                                </li>
                                <li style="font-size: large;">Protect Privacy: Respect the privacy of others. Do not share personal information or engage in unauthorized data collection.
                                </li>
                                <li style="font-size: large;">Follow Copyright Laws: Only share content that you have the right to share. Respect intellectual property rights and do not plagiarize or infringe on copyrights.
                                </li>
                                <li style="font-size: large;">Report Violations: If you come across any violations of the platform rules or witness inappropriate behavior, report it to the platform moderators or administrators.
                                </li>
                                <li style="font-size: large;">No Offensive Content: Do not post or share offensive, obscene, or explicit content. Keep the platform safe and suitable for users of all ages.
                                </li>
                                <li style="font-size: large;">Engage in Dialogue: Encourage healthy discussions and exchange of ideas. Listen to others' perspectives and engage in meaningful conversations.
                                </li>
                                <li style="font-size: large;">Follow Platform Guidelines: Adhere to the platform's guidelines and terms of service. Familiarize yourself with the rules and ensure compliance.</li>
                            </ol>
                        
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="card">
                      <div class="card-header">
                           <h5>Metaverse</h5>
                      </div>
                      <div class="card-block">
                          <div class="row">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://framevr.io/newframe0"><button class="btn btn-primary" type="submit">Enter Metaverse</button>
                    
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
