{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Team</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">About Us</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Our Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/sunil.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        SUNIL B
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        suni20218.ad@rmkec.ac.in
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    Specializes in Artificial Intelligence and Data Science and the project lead.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-twitter"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-instagram"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/charan.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        CHARANKUMAR P C
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        char20110.ad@rmkec.ac.in
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    Specializes in Artificial Intelligence and Data Science.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-twitter"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-instagram"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/vamsi.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        SUMANTH VAMSI M
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        suma20217.ad@rmkec.ac.in
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    Specializes in Artificial Intelligence and Data Science.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-twitter"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-instagram"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/kiruba.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        KIRUBHAKARAN A
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        kiru20118.ad@rmkec.ac.in
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    Specializes in Artificial Intelligence and Data Science.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-twitter"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-instagram"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
